
.sidebar {
  width: 20%;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  font-family: 'JetBrains Mono', monospace;
  z-index: 9999;
}

.top-section {
  margin-bottom: 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  padding: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
}

.logo h2{
  margin-left: 10px;
  font-size: 20px;
  /* font-weight: 600; */
  padding: 10px;
}

.logo span{
  font-size: 30px;
  font-weight: bold;
}


.search {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #cecece;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.search input {
  flex: 1;
  border: none;
  padding: 10px;
  color: #4A4A4A;
font-weight: bold;
font-family: 'JetBrains Mono', monospace;
  background-color: #cecece;
  outline: none;
}


.search svg {
  color: #000000;
   margin: 10px;
}
.search input::placeholder {
    color: #4a4a4a88;
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
  }
.center-section {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}

.bottom-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar button {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  font-family: 'JetBrains Mono', monospace;
}

.sidebar button {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar button:hover {
  background-color: #ddd;
  color: #000;
}

.sidebar button:focus {
  background-color: #ccc;
}

.sidebar button.active {
  background-color: #1C63FB;
  color: #fff;
}
