
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

.dashboard {
  display: flex; /* Flex layout for the dashboard */
  flex-direction: column;
  height: 100vh; /* Full height of the viewport */
}

.dashboard{
  
  overflow-x: hidden;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
  font-family: 'JetBrains Mono', monospace;
}



